beautifulsoup4
feedparser
google-analytics-data
google-api-python-client
jinja2
python-amazon-paapi>=6.3.0
python-frontmatter
pytrends
rakuten-ws
requests
jsonschema
Pillow
pykakasi
youtube-transcript-api
janome
